
.foodbox 
{
    padding: 10px 10px;
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.foodbox h1 
{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Cedarville Cursive', cursive;
    color: var(--primary-color);
    text-shadow: 1px 1px 5px;
}
.buybtn
{

    color: #000;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 5px;
    transition: 0.7s all;
}

.buybtn:hover {
    background-color: black;
    color: var(--primary-color);
    text-shadow: 1px 0px 5px;
}