<div class="banner">
    <div class="content">
        <h1 class="mb-5">Fresh Cooked Food At Your Door.</h1>
        <a routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
    </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
    <h1 class="text-center" style="font-size: 2.12rem; font-weight: 500;">How to get <span class="highlight" style="font-family: 'Cedarville Cursive', cursive; text-shadow: 1px 1px 10px;">fresh food</span></h1>
    <div class="row mt-5">
        <!-- one  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox" style="background-image: url('../../../assets/img/stepbox1.jpg');">
                <h1>1</h1>
                <p>Select food</p>
            </div>
        </div>
<!-- two -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox" style="background-image: url('../../../assets/img/stepbox2.jpg');">
                <h1>2</h1>
                <p>Fill the details</p>
            </div>
        </div>
        <!-- three  -->
        <div class="col-lg-4 mt-2">
            <div class="stepBox" style="background-image: url('../../../assets/img/stepbox3.jpg'); background-position: center;">
                <h1>3</h1>
                <p>Your order delivered in minute</p>
            </div>
        </div>
    </div>
</div>

<!-- foodbox  -->
<div class="container mt-4 mb-4">
    <h1 class="text-center" style="font-size: 2.12rem; font-weight: 500; margin-top: 54px;">Customers <span class="highlight" style="font-family: 'Cedarville Cursive', cursive;  text-shadow: 1px 1px 10px;">Favourites Food</span></h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let fd of foodData;index as i">
            <div class="foodbox" *ngIf="i<=3">
                <img src="{{fd.foodImg}}" />
                <h1>{{fd.foodName}}</h1>
                <p><span>$</span>{{fd.foodPrice}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmorebtn">view more <i class="bi bi-arrow-right"></i></a>
</div>
